<section class="form-section">
  <h2 class="heading"><%= heading %></h2>
  <%= form_for([@project, @target]) do |f| %>
    <%= f.label :name, class: "form-label" %>
    <%= react_component "Autocomplete", {
        suggestions: Constants::TARGET_OPTIONS,
        name: 'target[name]',
        id: 'target_name',
        className: 'form-field',
        value: @target.name,
    } %>
    <%= f.label :target_type_id, class: "form-label" %>
    <%= f.collection_select(:target_type_id, TargetType.all, :id, :name, {prompt: true}, {class: 'form-field'}) %>
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: 'form-field' %>
    <%= hidden_field_tag 'project_id', @project.id %>

    <div class="form-footer">
      <%= link_to 'Back', project_targets_path(@project) %>
      <%= f.submit 'Save', class: 'button-primary' %>
    </div>
  <% end %>
</section>
