<h2>Targets</h2>
<table class="index-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
  </tr>
  </thead>

  <tbody>
  <% @targets.each do |target| %>
    <tr>
      <th><%= link_to "#{target.name}", target_path(target) %></th>
      <td><%= target.description %></td>
      <td><%= target.target_type&.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to(new_project_target_path(@project.id), class: 'navigation') do %>
  <%= fa_icon 'plus' %>
  Add New Target
<% end %>
