<%= form_for([@project, @target]) do |f| %>
  <div class="field">
    <label for="target_name">Name</label>
    <%= react_component "Autocomplete", {suggestions: Constants::TARGET_OPTIONS, name: 'target[name]', id: 'target_name'} %>
  </div>
  <div class="field">
    <%= f.label :target_type_id %><br/>
    <%= f.collection_select(:target_type_id, TargetType.all, :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= hidden_field_tag 'project_id', @project.id %>
    <%= f.submit 'Save' %>
  </div>
<% end %>
