<section class="form-section">
  <h2 class="heading page-sub-heading"><%= @target.name %></h2>
  <%= link_to('Edit', edit_project_target_path(@target.project.id, @target.id), class: 'navigation') %>
  <section class="health-attributes">
    <h3>Health Attributes</h3>
    <table class="index-table" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% @target.target_health_attribute_ratings.each do |health_attr_rating| %>
          <tr>
            <th><%= health_attr_rating.health_attribute.title %></th>
            <th>
              <%= best_in_place health_attr_rating, :rating, as: :select,
                                place_holder: "click me to edit",
                                class: 'button-secondary',
                                collection: {"good" => "Good", "bad" => "Bad"},
                                url: target_health_attribute_rating_path(health_attr_rating) %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="form-footer">
      <%= link_to('Back', projects_path, class: 'navigation')%>
    </div>
  </section>
</section>
