<div id="upload-form">
  Upload health rating standards
</div>

<div id="upload-form">
  <%= form_tag import_health_rating_standards_path, method: :post, multipart: true do %>
    <%= render "layouts/import_button_partial" %>
  <% end %>
</div>

<div id="index">
  <table>
    <thead>
      <tr>
        <th>Target type</th>
        <th>Rating</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @health_rating_standards.each do |health_standard_rating| %>
      <tr>
        <td>
          <%= health_standard_rating.target_type.name %>
        </td>
        <td>
          <%= health_standard_rating.rating %>
        </td>
        <td>
          <%= health_standard_rating.description %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>