<%= link_to 'View all targets', project_targets_url(@project) %>

<h2><%= @project.name %></h2>

<%= link_to "Add New Task", new_project_task_path(@project) %>

<h3>Tasks</h3>

<ul>
<% @project.tasks.each do |task| %>
  <li>
    <%= task.name %>
    <%= task.user&.email %>
    <%= task.due_on %>
    <%= task.description %>
    <% if current_user && task.user_id.nil? %>
      <%= button_to 'Pick-Up Task', project_task_pickup_path(@project, task), id: "pickup-task-#{task.id}", method: :put %>
    <% end %>
  </li>
<% end %>
</ul>
