<section class="next-event">
  <div class="date">
    <div class="month">Aug</div>
    18
  </div>
  <div class="details">
    <h2 class="heading has-sidelines">Next Meeting</h2>
    <p>Teleconference at 3pm CST <a href="">[more info]</a></p>
  </div>
</section>
<section class="tasks">
  <header>
    <h2 class="heading has-sidelines">To Do</h2>
  </header>
  <ul>
    <% @project.tasks.each do |task| %>
      <li>
        <%= task.name %>
        <%= task.user&.email %>
        <%= task.due_on %>
        <%= task.description %>
        <% if current_user && task.user_id.nil? %>
          <%= button_to 'Pick-Up Task', project_task_pickup_path(@project, task), id: "pickup-task-#{task.id}", method: :put %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= link_to('Add New Task', new_project_task_path(@project), class: 'add')%>
</section>
