<section class="form-section">
  <h2 class="heading page-heading"><%= heading %></h2>
  <%= form_for(@health_assessment) do |f| %>
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-field" %>
    <%= hidden_field_tag 'target_id', @target.id %>
    <div class="form-footer">
      <%= f.submit 'Save', class: 'button-primary' %>
    </div>
  <% end %>
</section>