<header class="app-header">
  <a href="/" class="header-link"><img class="logo" alt="turboCAP" src=<%= asset_path('turbocap-logo.png') %>/></a>
  <% if user_signed_in? %>
    <div class="user-dropdown">
      <button class="dropbtn">
        <%= fa_icon 'user' %> <%= fa_icon 'caret-down' %>
      </button>
      <ul class="user-dropdown-content">
        <li class="user-dropdown-item">
          <b>Signed in as: </b>
          <%= current_user.email %>
        </li>
        <li class="user-dropdown-item">
          <%= link_to(destroy_user_session_path, method: :delete, class: 'navigation', id: 'sign-out-link') do %>
            <%= fa_icon 'sign-out-alt' %>
            Sign out
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
</header>