<% if flash.present? %>
  <div class="flash">
    <% flash.each do |key, msg| %>
      <% if msg %>
        <div class="alert-<%= key %> alert">
          <% if key == 'notice' %>
            <%= fa_icon 'check-circle', class: 'alert-icon'  %>
          <% elsif key == 'alert' %>
            <%= fa_icon 'exclamation-circle', class: 'alert-icon' %>
          <% else %>
            <%= fa_icon 'info-circle' %>
          <% end %>
          <div class="alert-body">
            <%= render 'layouts/alert_header', alert_type: key %>
            <% if msg.kind_of? Array %>
              <ul class="alert-msg-list">
                <% msg.each do |m| %>
                  <li><%= m %></li>
                <% end %>
              </ul>
            <% else %>
              <%= msg %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
