<!DOCTYPE html>
<html>
  <head>
    <title>TurboCap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag    'application' %>
    <%= stylesheet_pack_tag    'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Zilla+Slab:300i, 500,600,600i,700" rel="stylesheet">
  </head>

  <body>
    <%= react_component 'layouts/Header' %>
    <%= render partial: 'layouts/flash_messages' %>
    <section class="main-section">
      <% if @project&.valid? %>
        <%= render layout: 'layouts/project' do %>
            <div class="breadcrumbs">
              <%= render_breadcrumbs %>
            </div>
            <%= yield %>
        <% end %>
      <% else %>
        <%= yield %>
      <% end %>
    </section>
  </body>
</html>
